.slider {
  overflow: hidden;
  width: 100%;
}

.slideTrack {
  display: flex;
}

.slide {
  display: flex;
  align-items: center;
  flex-shrink: 0;

  width: 158px;
  border-radius: 0.69081rem;

  padding: 10px;
  margin-right: 11px;

  background: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;

  transform: translate3d(0, 0, 0);
  animation: scroll 40s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-169px * 14));
  }
}
