.photo1 {
  width: 100%;
  max-width: 390px;
  height: 200px;
  position: relative;
}

.photo1 img {
  background: lightgray;

  object-fit: cover;
  object-position: 0 -23.75px;
}

.photo2 {
  width: 100%;
  max-width: 390px;
  height: 200px;
  position: relative;
}

.photo2 img {
  background: lightgray;

  object-fit: cover;
  object-position: 0 -36.75px
}
